armijo/bin/*
armijo/firmware/*
ceres/bin/*
ceres/firmware/*
dvhs/bin/*
dvhs/firmware/*
milpitas/bin/*
milpitas/firmware/*
modesto/bin/*
modesto/firmware/*
motor-debugger/bin/*
motor-debugger/firmware/*
skills/bin/*
skills/firmware/*


