armijo/bin/*
armijo/firmware/*
ceres/bin/*
ceres/firmware/*
dvhs/bin/*
dvhs/firmware/*
gaelforce/bin/*
gaelforce/firmware/*
gaelforcePID/bin/*
gaelforcePID/firmware/*
googlesignew/bin/*
googlesignew/firmware/*
milpitas/bin/*
milpitas/firmware/*
modesto/bin/*
modesto/firmware/*
motor-debugger/bin/*
motor-debugger/firmware/*
skills/bin/*
skills/firmware/*
states/bin/*
states/firmware/*
usopen/bin/*
usopen/firmware/*
usopen/compile_commands.json
worlds/bin/*
worlds/firmware/*
worlds/compile_commands.json
.vscode/*